{
    "logging": {
        "version": 1,
        "handlers": {
            "gotifyHandler": {
                "class": "gotify_handler.GotifyHandler",
                "level": "INFO",
                "app_token": "",
                "server_url": "https://gotify.example.com"
            }
        },
        "loggers": {
            "reddit_mail_alerter": {
                "handlers": ["gotifyHandler"],
                "level": "INFO"
            }
        }
    },
    "auth_info": {
        "client_id": "",
        "client_secret": "",
        "username": "",
        "password": "",
        "user_agent": "mail_alerter"
    }
}
